.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  padding: 16px;
  justify-items: center;
}

.card-container {
  perspective: 1000px;
  width: 160px;
  box-sizing: border-box;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 200px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;
  margin-bottom: 10px;
}

.card-inner.flipped {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-front {
  background-color: rgba(233, 233, 233, 0.315);
  display: flex;
  flex-direction: column;
}

.card-back {
  background-color: #f9f9f9;
  transform: rotateY(180deg);
  background-size: cover;
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.card-name {
  margin-top: 8px;
  text-align: center;
}
